<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Your title">
	<meta name="format-detection" content="telephone=no">
	<title>海棠晨报</title>
	<!-- build:css css/mpaper.css -->
	<link rel="stylesheet" type="text/css" href="./css/mpaper.css">
    <!-- endbuild -->
	<script src="./pkgs/vue/vue.min.js"></script>
	<script src="./pkgs/zepto/zepto.min.js"></script>
	<!-- build:js js/index.js -->
	<script src="./js/index.js"></script>
	<!-- endbuild -->
</head>
<body id="mpaper" v-cloak>
<div id='wx_pic' style='margin:0 auto;display:none;'>
	<img src='./img/mpaper/cover.jpg'>
</div>
<div class="banner">
	<img src="./img/mpaper/banner.png">
</div>

<div class="tabs">
	<nav id="title">
		<div class="title-name" v-bind:class="{ 'active': $index == iscur }"  v-for="item in titles" v-on:tap="setCur($index, $event)" data-id="{{item.id}}">
			{{ item.label }}
		</div>
	</nav>
	<section class="content">
		<dl :class="{ 'dth': dth == 1 }">
			<template v-for="item in contents">
				<dt v-bind:class="{ 'active': $index == isShow }" v-on:click="showMsg($index)">{{ item.post_title }}</dt>
				<dd>{{ item.post_excerpt }}</dd>
			</template>
		</dl>
	</section>
</div>

<a class="link-more" href="index.html">查看更多资讯</a>
</body>
</html>