@charset 'utf-8';
@import  'sandal/core';
@import  'core/mixins', 'core/functions', 'core/vars';

$padding: 20px;

[v-cloak] {
    display: none;
}

body {
    font: 14px "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    max-width: 800px;
    margin: 0 auto;
    color: #333;
}

.banner {
    position: relative;
    width: 100%;
    
    img {
        width: 100%;
        margin: 0 auto;
        display: block;
    }

    p {
        position: absolute;
        bottom: 2px;
        left: 20px;
        right: 20px;
        margin: 0 auto;
        height: 44px;
        line-height: 1.5;
        color: #936b62;
        text-align: justify;
        overflow: hidden;
    }
}

nav {
    display: flex;
}

.title-name {
    position: relative;
    flex: 1;
    line-height: 44px;
    text-align: center;
    padding-top: 24px;
    font-size: 16px;

    &:after {
        content: "";
        position: absolute;
        top: 12px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 25px;
        height: 20px;
        background: url("../img/spritesheet.png") no-repeat;
        background-position: -0px -0px;
        background-size: 100%;        
    }

    &:nth-child(2):after {
        background-image: url("../img/spritesheet.png");
        background-position: -50px -0px;
    }
    &:nth-child(3):after {
        background-image: url("../img/spritesheet.png");
        background-position: -0px -40px;
    }
    &:nth-child(4):after {
        background-image: url("../img/spritesheet.png");
        background-position: -50px -40px;
    }

    &.active {
        color: #fff;
        background-color: #af936c;
        &:after {
            background-image: url("../img/spritesheet.png");
            background-position: -100px -0px;
        }
        &:nth-child(2):after {
            background-image: url("../img/spritesheet.png");
            background-position: -100px -40px;
        }
        &:nth-child(3):after {
            background-image: url("../img/spritesheet.png");
            background-position: -0px -80px;
        }
        &:nth-child(4):after {
            background-image: url("../img/spritesheet.png");
            background-position: -50px -80px;
        }
    }
}

.content {
    padding-bottom: 46px;

    dl {
        position: relative;
        margin: 0 auto;

        &:after {
            content: "";
            position: absolute;
            left: 10px;
            right: 10px;
            bottom: 0;
            height: 1px;
            background-color: #ccc;
        }
    }

    dt {
        position: relative;
        padding: 15px 50px;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;

        &:before {
            content: "";
            position: absolute;
            top: 16px;
            left: 30px;
            width: 16px;
            height: 16px;
            background: url("../img/spritesheet.png") no-repeat;
            background-position: -100px -80px;
            background-size: 100%;
        }
        
        &:after {
            content: "";
            position: absolute;
            left: 10px;
            right: 10px;
            top: 0;
            height: 1px;
            background-color: #ccc;
        }

        &:first-child {
            &:after {
                display: none;
            }
        }

        &.active {
            color: #fff;
            background-color: #661a00;
            
            &:before {
                background-image: url("../img/spritesheet.png");
                background-position: -121px -80px;
            }
            &:after {
                display: none;
            }

            
            & + dd {
                padding-top: 10px;
                padding-bottom: 10px;
                display: block;
                max-height: 9999px;
                transform: scaleY(1);
                animation: slideDown .5s ease-in-out;
                animation-fill-mode:forwards;
                transition: max-height 1s ease-in-out;

                & + dt {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
    dd {
        margin: 0 auto;
        padding: 0 50px;
        background-color: #dcdddd;
        transform-origin: 50% 0%;
        max-height: 0;
        color: #030303;
        transform: scaleY(0);
        animation: slideUp .4s ease-out;
        transition: max-height .6s ease-out;
        display: none;
    }
}

@keyframes slideDown {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -o-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }

  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -o-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }

  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -o-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }

  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -o-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }

  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -o-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }

  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -o-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }

  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes slideUp {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -o-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }

  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -o-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }

  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
